body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin-bottom: 5%;
}
label {
  font-size: larger;
  margin-bottom: 1%;
}
input {
  font-size: larger;
  margin-bottom: 1%;
  height: fit-content;
  width: fit-content;
}
textarea {
  font-size: x-large;
  margin-bottom: 1%;
  width: 50%;
}
button {
  margin-top: 1%;
  height: auto;
  width: fit-content;
  font-size: large;
}
#taskDeadline {
  font-size: x-large;
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  color: #fff;
}

th {
  text-align: left;
  border-bottom: solid black 1px;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: lightblue;
    }
  }
  td {
    position: relative;
    color: black;
    border: solid black 1px;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        background-color: lightblue;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        z-index: -1;
      }
    }
  }
}
